nav{
  display:flex;
  text-align: center;
  justify-content:center;
  background: #6a26cd;
  padding: 1rem;
}

nav a{
  margin-left:1rem;
  color:white;

}
nav first-child{
  margin-left: 0.25rem;
}
nav a:active{
  color:black;
}
nav a:hover{
  color:orange;
}